[submodule "TypeScript/ChadwickLinkedInLearning/MyEssentialtypescript/TypeScript/ChadwickLinkedInLearning/EssentialTypescript"]
	path = TypeScript/ChadwickLinkedInLearning/MyEssentialtypescript/TypeScript/ChadwickLinkedInLearning/EssentialTypescript
	url = https://github.com/jchadwick/EssentialTypescript
