################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/**.js
**/node_modules
**package-lock.json
/.vscode
/.vscode
**/.vscode
**/*.js
**/*.js
**/*.map
TypeScript/Tasks/completed-ts-vscode-boilderplate/package.json
TypeScript/Tasks/completed-ts-vscode-boilderplate/yarn.lock
TypeScript/Tasks/completed-ts-vscode-boilderplate/package.json
