<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="AzEnlist" source="https://msazure.pkgs.visualstudio.com/_packaging/Bootstrap/nuget/v2/" />
   <package id="BuildReq" source="https://msazure.pkgs.visualstudio.com/_packaging/Bootstrap/nuget/v2/" />
   <package id="Repo" source="https://msazure.pkgs.visualstudio.com/_packaging/Bootstrap/nuget/v2/" />
   <package id="git.bootstrap" source="https://msazure.pkgs.visualstudio.com/_packaging/Bootstrap/nuget/v2/" />
   <package id="nuget.commandline" source="https://msazure.pkgs.visualstudio.com/_packaging/Bootstrap/nuget/v2/" />
   <package id="docker-desktop" />
   <package id="draft" />
   <package id="fiddler" />
   <package id="GoogleChrome" />
   <package id="kubernetes-cli" />
   <package id="kubernetes-helm" />
   <package id="microsoft-teams" />
   <package id="nodejs-lts" />
   <package id="notepadplusplus" />
   <package id="office365proplus" />
   <package id="postman" />
   <package id="sysinternals" />
   <package id="telnet" />
   <package id="visualstudio2010enterprise" />
   <package id="visualstudio2019-workload-manageddesktop" />
   <package id="visualstudio2019-workload-netcrossplat" />
   <package id="visualstudio2019-workload-netweb" />
   <package id="vscode-insiders" />
   <package id="vscode-autofilename" />
   <package id="vscode-autohotkey" />
   <package id="vscode-azurerm-tools" />
   <package id="vscode-cake" />
   <package id="vscode-codespellchecker" />
   <package id="vscode-csharp" />
   <package id="vscode-csharpextensions" />
   <package id="vscode-docker" />
   <package id="vscode-editorconfig" />
   <package id="vscode-ember-cli" />
   <package id="vscode-ember-frost" />
   <package id="vscode-eslint" />
   <package id="vscode-gitattributes" />
   <package id="vscode-gitignore" />
   <package id="vscode-gitlens" />
   <package id="vscode-icons" />
   <package id="vscode-jscslinting" />
   <package id="vscode-jshint" />
   <package id="vscode-vsliveshare" />
   <package id="vscode-markdownlint" />
   <package id="vscode-mssql" />
   <package id="vscode-powershell" />
   <package id="vscode-settingssync" />
   <package id="vscode-tslint" />
   <package id="webpicmd" />
   <package id="wireshark" />
</packages>
