<?xml version="1.0" encoding="utf-8"?>
 	<packages> 
		<package id="SABnzbd" />
		<package id="Sonarr" />
		<package id="qbittorrent" />
		<package id="jackett" />
		<package id="radarr" />
		<package id="kodi"/>
		<package id="plexmediaserver" />
		<package id="googlechrome" />
		<package id="pia" />
		<package id="teamviewer" />
		<package id="7zip" />
	</packages>
