<?xml version="1.0" encoding="utf-8"?>
 	<packages> 
 		<package id="vscode-powershell" />
		<package id="vscode-csharp" />
		<package id="vscode-icons" />
		<package id="vscode-docker" />
		<package id="vscode-mssql" />
		<package id="vscode-gitlens" />
		<package id="vscode-csharpextensions" />
		<package id="vscode-gitignore" />
		<package id="vscode-azurerm-tools" />
		<package id="vscode-markdownlint" />
		<package id="vscode-tslint" />
		<package id="vscode-editorconfig" />
		<package id="vscode-eslint" />
		<package id="vscode-autofilename" />
		<package id="vscode-jshint" />
		<package id="vscode-cake" />
		<package id="vscode-gitattributes" />
		<package id="vscode-jscslinting" />
		<package id="vscode-codespellchecker" />
		<package id="vscode-settingssync" />
		<package id="vscode-autohotkey" />
		<package id="vscode-ember-frost" />
		<package id="chocolatey-vscode" />
		<package id="vscode-ember-cli" />
		<package id="CouchPotato" />
		<package id="SABnzbd" />
		<package id="Sonarr" />
		<package id="Deluge" />
		<package id="transmission" />
		<package id="radarr" />
		<package id="kodi"/>
		<package id="plexmediaserver" />
		<package id="notepadplusplus.install" />
		<package id="googlechrome" />
	</packages>
