<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="nodejs-lts" />
    <package id="visualstudio2017-installer" />
    <package id="visualstudio2017enterprise" />
    <package id="visualstudio2017-remotetools" />
    <package id="visualstudio2017-workload-azure" />
    <package id="visualstudio2017-workload-azurebuildtools" />
    <package id="visualstudio2017-workload-manageddesktop" />
    <package id="visualstudio2017-workload-manageddesktopbuildtools" />
    <package id="visualstudio2017-workload-netcoretools" />
    <package id="visualstudio2017-workload-netweb" />
    <package id="visualstudio2017-workload-universalbuildtools" />
    <package id="visualstudio2017-workload-visualstudioextensionbuildtools" />
    <package id="visualstudio2017buildtools" />
    <package id="typescript-vs2017" version="2.3.3" />
    <package id="visualstudiocode" />
    <package id="GoogleChrome" />
    <package id="notepadplusplus" />
    <package id="sysinternals" />
    <package id="docker-desktop" />
    <package id="kubernetes-cli" />
    <package id="kubernetes-helm" />
    <package id="draft" />
    <package id="fiddler" />
    <package id="wireshark" />
    <package id="postman" />
    <package id="vscode-powershell" />
    <package id="vscode-csharp" />
    <package id="vscode-icons" />
    <package id="vscode-docker" />
    <package id="vscode-mssql" />
    <package id="vscode-csharpextensions" />
    <package id="vscode-gitlens" />
    <package id="vscode-tslint" />
    <package id="vscode-markdownlint" />
    <package id="vscode-azurerm-tools" />
    <package id="vscode-gitignore" />
    <package id="vscode-editorconfig" />
    <package id="vscode-eslint" />
    <package id="vscode-autofilename" />
    <package id="vscode-jshint" />
    <package id="vscode-cake" />
    <package id="vscode-gitattributes" />
    <package id="vscode-jscslinting" />
    <package id="vscode-autohotkey" />
    <package id="vscode-codespellchecker" />
    <package id="vscode-settingssync" />
    <package id="vscode-ember-frost" />
    <package id="vscode-ember-cli" />
    <package id="cakerecipe-vscode" />
    <package id="ci-cd-assets-vscode" />
    <package id="invokebuild" />
</packages>