<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip" />
   <package id="dotnetcore" />
   <package id="dotnetcore-runtime" />
   <package id="dotnetcore-runtime.install" />
   <package id="dotnetcore-sdk" />
   <package id="dotnetfx" />
   <package id="docker-desktop" />
   <package id="git" />
   <package id="GoogleChrome" />
   <package id="microsoft-edge" />
   <package id="jackett" />
   <package id="keepass" />
   <package id="plexmediaserver" />
   <package id="qbittorrent" />
   <package id="microsoft-windows-terminal" />
   <package id="sabnzbd" />
   <package id="sonarr" pre="true" />
   <package id="kodi" />
   <package id="teamviewer" />
   <package id="visualstudio-installer" />
   <package id="visualstudio2019-workload-azure" />
   <package id="visualstudio2019-workload-azurebuildtools" />
   <package id="visualstudio2019-workload-netcorebuildtools" />
   <package id="visualstudio2019-workload-netcoretools" />
   <package id="visualstudio2019-workload-netweb" />
   <package id="visualstudio2019-workload-node" />
   <package id="visualstudio2019-workload-python" />
   <package id="visualstudio2019-workload-webbuildtools" />
   <package id="visualstudio2019buildtools" />
   <package id="visualstudio2019enterprise" />
   <package id="vscode-insiders" />
   <package id="wsl" />
   <package id="wsl-kalilinux" />
   <package id="wsl-debiangnulinux" />
   <package id="wsl-ubuntu-1604" />
   <package id="itunes" />
   <package id="Containers" source="windowsfeatures" />
   <package id="Microsoft-Windows-Subsystem-Linux" source="WindowsFeatures" />
  </packages>

