<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip" />
   <package id="7zip.install" />
   <package id="autohotkey.portable" />
   <package id="chocolatey" />
   <package id="chocolatey-core.extension" />
   <package id="chocolatey-dotnetfx.extension" />
   <package id="chocolatey-visualstudio.extension" />
   <package id="chocolatey-windowsupdate.extension" />
   <package id="DotNet4.5.2" />
   <package id="DotNet4.6.1" />
   <package id="dotnetcore" />
   <package id="dotnetcore-runtime" />
   <package id="dotnetcore-runtime.install" />
   <package id="dotnetcore-sdk" />
   <package id="dotnetfx" />
   <package id="git" />
   <package id="git.install" />
   <package id="GoogleChrome" />
   <package id="jackett" />
   <package id="KB2533623" />
   <package id="KB2919355" />
   <package id="KB2919442" />
   <package id="KB2999226" />
   <package id="KB3033929" />
   <package id="KB3035131" />
   <package id="kodi" />
   <package id="netfx-4.5.2-devpack" />
   <package id="netfx-4.6.1-devpack" />
   <package id="netfx-4.7.2-devpack" />
   <package id="pia" />
   <package id="qbittorrent" />
   <package id="radarr" />
   <package id="sabnzbd" />
   <package id="sonarr" />
   <package id="teamviewer" />
   <package id="vcredist140" />
   <package id="vcredist2015" />
   <package id="vcredist2017" />
   <package id="visualstudio-installer" />
   <package id="visualstudio2019-workload-azure" />
   <package id="visualstudio2019-workload-azurebuildtools" />
   <package id="visualstudio2019-workload-netcorebuildtools" />
   <package id="visualstudio2019-workload-netcoretools" />
   <package id="visualstudio2019-workload-netweb" />
   <package id="visualstudio2019-workload-node" />
   <package id="visualstudio2019-workload-python" />
   <package id="visualstudio2019-workload-webbuildtools" />
   <package id="visualstudio2019buildtools" />
   <package id="visualstudio2019enterprise" />
</packages>

