<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="visualstudio-installer" />
   <package id="visualstudio2019-workload-azure" />
   <package id="visualstudio2019-workload-azurebuildtools" />
   <package id="visualstudio2019-workload-netcorebuildtools" />
   <package id="visualstudio2019-workload-netcoretools" />
   <package id="visualstudio2019-workload-netweb" />
   <package id="visualstudio2019-workload-node" />
   <package id="visualstudio2019-workload-python" />
   <package id="visualstudio2019-workload-webbuildtools" />
   <package id="visualstudio2019buildtools" />
   <package id="visualstudio2019enterprise" />
</packages>