<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="visualstudio2017-workload-netweb"  />
    <package id="visualstudio2017-workload-azure"  />
    <package id="visualstudio2017-workload-node"  />
    <package id="visualstudio2017-workload-nativedesktop" />
    <package id="visualstudio2017-workload-netcoretools" />
    <package id="visualstudio2017-workload-netcrossplat" />
    <package id="visualstudio2017-workload-vctools" />
</packages>